@font-face{
	font-family: "my-font";
	src: url(fonts/FuzzyBubbles-Bold.woff2) format("woff2");
	font-weight:bold;
}
html {
	font-size:20px;
}

.wrapper {
	font-size: em;
}

.em  {
	width: 10em;
}

.ems li {
	font-size: 2.3em;
}

body {
	margin: 2px 1em 0 auto;
	background-color: lightblue;
	font-size: 18px;
	
}
nav{
	color: rgb(200,190,100);
	font-size: 32px;
	line-height: 2em;
	position: sticky;
	top: 20px;
}
h1 {
	color: Tomato;
	margin-left: 9cm;
	text-decoration: overline underline;
}

h2{
	color: #ff0000;
	margin-top: 1cm;
	margin-left: 9cm;
	margin-right: 90mm;
	margin-bottom: 2cm;

}

h3{
	color: rgb(202, 105, 105);
	color: hsl(80,40%,30%);
	display: block;

}

#booty {
	width: 300px;
	border: 15px solid green;
	margin: 20px;
	display: block;
}

*p {
	font-family: "Arial";
}

a[title]{
	color: purple;
	display:inline;
}

button:hover{
	color:aqua;
	display: inline-block;
}
h4 {
	font-family: "my-font";
	display:block;
}
h1,h2,h3 {
	font-family:Helvetica;
}

h4{
	font-family: "my-font";
}

div p {
	color:rgb(81, 13, 90)
}

div > p {
	font-family: "Arial";
	display:none;
	padding: 25px 50px 75px 100px;
}

video.solid {
	border-style: solid;
	border-width:3em;
	border-color:rgb(30, 68, 155);
	border-radius: 200px;
}

.static{
  position: static;
  border: 3px solid #73AD21;
}

.invisible {
	display:none;
}
@media screen and (min-width: 600px) {
	h1 {
	  color: rgb(22, 22, 22);
	}
  }

  .celeb{
	padding-top: 50px;
	padding-right: 30px;
	padding-bottom: 50px;
	padding-left: 80px;
  }

  footer{
	margin: 25px 0px 75px 0px
  }

  #agenda{
	text-align:center;
	font-size:4em;
  }

  #thanks{
	padding: 10px 30px 30x 50px;
	font-size: 40px
  }

  audio{
	width:300px;
	height:10px;
	min-height:5px;
	min-width:250px;
  }

  .flex-container {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	background-color: rgb(24, 28, 32);
	margin:30px;
	width:600px;
	justify-content: center;
  }
  @media (max-width: 800px) {
	.flex-container {
	  flex-direction: row;
	}
  }
  .flex-container > div {
	background-color: #218762;
	margin: 20px;
	padding: 20px;
	font-size: 30px;
  }

  fieldset+p{
	background-color:aqua;
  }

  div ~ p {
	font-size: 30px
  }